@model CommunityFishing.Models.FishInfo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FishInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FishName" class="control-label"></label>
                <input asp-for="FishName" class="form-control" />
                <span asp-validation-for="FishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegalLength" class="control-label">Minimum Legal Length</label>
                <input asp-for="LegalLength" class="form-control" />
                <span asp-validation-for="LegalLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegalLimit" class="control-label"></label>
                <input asp-for="LegalLimit" class="form-control" />
                <span asp-validation-for="LegalLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeasonStart" class="control-label"></label>
                <input asp-for="SeasonStart" class="form-control" />
                <span asp-validation-for="SeasonStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeasonEnd" class="control-label"></label>
                <input asp-for="SeasonEnd" class="form-control" />
                <span asp-validation-for="SeasonEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

